.DS_Store
package-lock.json
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.cache/
allure-results/
allure-report
.vscode/
src\helper\env\.env
/src/helper/env